In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import glob
import os
from tensorflow.keras.utils import to_categorical
from sklearn import preprocessing
import pickle
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [2]:
path = r'D:\RiceBootCamp\Homework\Oct 22\Project3\Data' # use your path
all_files = glob.glob(path + "/*.csv")

li = []
brands = ["Audi","BMW","Ford","Hyundi","Mercedes Benz","Skoda","Toyota","Volkswagen"]

for filename, brand in zip(all_files, brands):
    frame = pd.read_csv(filename, index_col=None, header=0)
    frame["make"] = brand
    li.append(frame)
    
df = pd.concat(li, axis=0, ignore_index=True)
df

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,make
0,A1,2017,12500,Manual,15735,Petrol,150,55.4,1.4,Audi
1,A6,2016,16500,Automatic,36203,Diesel,20,64.2,2.0,Audi
2,A1,2016,11000,Manual,29946,Petrol,30,55.4,1.4,Audi
3,A4,2017,16800,Automatic,25952,Diesel,145,67.3,2.0,Audi
4,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0,Audi
...,...,...,...,...,...,...,...,...,...,...
85550,Eos,2012,5990,Manual,74000,Diesel,125,58.9,2.0,Volkswagen
85551,Fox,2008,1799,Manual,88102,Petrol,145,46.3,1.2,Volkswagen
85552,Fox,2009,1590,Manual,70000,Petrol,200,42.0,1.4,Volkswagen
85553,Fox,2006,1250,Manual,82704,Petrol,150,46.3,1.2,Volkswagen
85554,Fox,2007,2295,Manual,74000,Petrol,145,46.3,1.2,Volkswagen

In [3]:
mms = preprocessing.StandardScaler()
df[['mileage', 'tax', 'mpg', 'engineSize', 'year']] = mms.fit_transform(df[['mileage', 'tax', 'mpg', 'engineSize', 'year']])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85555 entries, 0 to 85554
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         85555 non-null  object
 1   year          85555 non-null  float64
 2   price         85555 non-null  int64
 3   transmission  85555 non-null  object
 4   mileage       85555 non-null  float64
 5   fuelType      85555 non-null  object
 6   tax           85555 non-null  float64
 7   mpg           85555 non-null  float64
 8   engineSize    85555 non-null  float64
 9   make          85555 non-null  object
dtypes: float64(5), int64(1), object(4)
memory usage: 6.5+ MB

In [5]:
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,make
0,A1,-0.050914,12500,Manual,-0.340355,Petrol,0.482102,-0.020518,-0.517336,Audi
1,A6,-0.521019,16500,Automatic,0.620029,Diesel,-1.536409,0.502066,0.508836,Audi
2,A1,-0.521019,11000,Manual,0.326443,Petrol,-1.381139,-0.020518,-0.517336,Audi
3,A4,-0.050914,16800,Automatic,0.139040,Diesel,0.404467,0.686158,0.508836,Audi
4,A3,0.889294,17300,Manual,-0.984912,Petrol,0.404467,-0.364948,-1.201451,Audi

In [ ]:
df['year'] = df['year'].astype(str)

In [6]:
df['model'] = df['model'].str.strip()

In [7]:

le = preprocessing.LabelEncoder()
for column_name in df.columns:
    if(df[column_name].dtype == object):
        df[column_name] = le.fit_transform(df[column_name])
        # Step 2: Convert encoded labels to one-hot-encoding
        df[column_name] = to_categorical(df[column_name])

    else:
        pass

In [8]:
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,make
0,0.0,-0.050914,12500,0.0,-0.340355,0.0,0.482102,-0.020518,-0.517336,1.0
1,0.0,-0.521019,16500,1.0,0.620029,1.0,-1.536409,0.502066,0.508836,1.0
2,0.0,-0.521019,11000,0.0,0.326443,0.0,-1.381139,-0.020518,-0.517336,1.0
3,0.0,-0.050914,16800,1.0,0.139040,1.0,0.404467,0.686158,0.508836,1.0
4,0.0,0.889294,17300,0.0,-0.984912,0.0,0.404467,-0.364948,-1.201451,1.0

In [9]:
# Assign X (data) and y (target)
X = df.drop("price", axis=1)
y = df["price"]
print(X.shape, y.shape)

(85555, 9) (85555,)

In [10]:
feature_names = X.columns

In [11]:
df.isnull().sum(axis=0)

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
make            0
dtype: int64

In [12]:
# Split the data into training and testing

### BEGIN SOLUTION



X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
### END SOLUTION

In [13]:
del df,le

In [14]:
del X,y

In [15]:
X_train.shape

(68444, 9)

In [16]:
X_train

,model,year,transmission,mileage,fuelType,tax,mpg,engineSize,make
11514,0.0,0.419190,0.0,-0.370478,1.0,0.404467,0.187328,0.508836,0.0
11986,0.0,0.889294,0.0,-0.834811,0.0,0.404467,-1.041932,0.508836,0.0
80902,0.0,-0.050914,0.0,-0.492145,1.0,0.482102,-0.364948,0.508836,0.0
9497,0.0,0.889294,0.0,-0.998566,1.0,0.404467,-0.364948,-0.175279,1.0
80198,0.0,-0.050914,1.0,-0.083179,0.0,0.404467,-0.317440,0.166779,0.0
...,...,...,...,...,...,...,...,...,...
6265,0.0,0.889294,0.0,-0.970366,0.0,0.404467,-1.261654,0.508836,1.0
54886,0.0,1.359398,1.0,-1.077722,1.0,0.404467,0.116067,0.508836,0.0
76820,0.0,0.889294,0.0,-0.784511,1.0,0.404467,0.116067,0.508836,0.0
860,0.0,1.359398,0.0,-1.052572,0.0,0.404467,-0.465902,-1.201451,1.0
15795,0.0,1.359398,0.0,-0.913028,1.0,0.404467,-0.881593,0.508836,0.0

In [ ]:
[CV]  regressor__n_estimators=140, regressor__min_samples_split=5, regressor__min_samples_leaf=4, regressor__max_features=sqrt, regressor__max_depth=20, regressor__bootstrap=False, score=0.901, total=  31.8s

In [49]:

regr = RandomForestRegressor(n_estimators=140, min_samples_split=5, min_samples_leaf=4, max_features="sqrt", max_depth=20,bootstrap=False)
regr = regr.fit(X_train, y_train)
regr.score(X_test, y_test)

0.9152011404209853

In [50]:
pkl_filename = "RandomForest_model_LabelEncoding.pickle"
with open(pkl_filename, 'wb') as file:
    pickle.dump(regr, file)

In [51]:
sorted(zip(regr.feature_importances_, feature_names), reverse=True)

[(0.3423124756806555, 'engineSize'),
 (0.23082426121693758, 'year'),
 (0.21268337355738287, 'mpg'),
 (0.10466346507062625, 'mileage'),
 (0.05242921816355943, 'tax'),
 (0.028849353702978642, 'fuelType'),
 (0.013681068981287703, 'make'),
 (0.011834467634049363, 'transmission'),
 (0.0027223159925226733, 'model')]

In [52]:
encoded_predictions = regr.predict(X_test[:5])

In [53]:
print(f"Predicted classes: {encoded_predictions}")
print(f"Actual Labels: {list(y_test[:5])}")

Predicted classes: [12834.29475006 11311.54862552 20459.5829291  15077.53892787
 17801.32951762]
Actual Labels: [14644, 10095, 23025, 14299, 16995]

In [54]:
# load the model from disk
loaded_model = pickle.load(open("RandomForest_model_LabelEncoding.pickle", 'rb'))
result = loaded_model.score(X_test, y_test)
print(result)

0.9152011404209853

In [55]:
values = ['Yaris',2015,'Automatic', 36021,'Hybrid',0,78,1.5,'Toyota']

In [56]:
features = [np.array(values)]

In [57]:
df = pd.DataFrame(features,columns=['model','year','transmission','mileage','fuelType','tax','mpg','engineSize','make'])
df

   model  year transmission mileage fuelType tax mpg engineSize    make
0  Yaris  2015    Automatic   36021   Hybrid   0  78        1.5  Toyota

In [58]:

le = preprocessing.LabelEncoder()
for column_name in df.columns:
    if(df[column_name].dtype == object):
        df[column_name] = le.fit_transform(df[column_name])
        # Step 2: Convert encoded labels to one-hot-encoding
        df[column_name] = to_categorical(df[column_name])

    else:
        pass

In [59]:
mms = preprocessing.StandardScaler()
df[['mileage', 'tax', 'mpg', 'engineSize', 'year']] = mms.fit_transform(df[['mileage', 'tax', 'mpg', 'engineSize', 'year']])

In [60]:
loaded_model.predict(df)

array([15980.80291398])